@use "src/styles/vars"
@use "src/styles/mixins"

.content
  max-width: 620px
  width: 100%
  margin-inline: auto

  .title
    color: vars.$whiteTextColor
    font-size: 24px
    margin-top: 20px
    line-height: 28px
    font-weight: 700
    margin-bottom: 30px

    span
      color: vars.$secondaryColor
      margin-left: 8px
      font-size: 15px
      font-weight: 400
      line-height: 20px

  .movies
    display: flex
    flex-direction: column
    gap: 20px

    .movie
      &__item
        display: flex
        align-items: center
        gap: 20px
        .img
          width: 80px
          position: relative
          aspect-ratio: 2/3
          border-radius: 8px 8px 8px 8px
          overflow: hidden

        .btn
          width: 140px

      &__poster
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        gap: 20px

        .info
          display: grid

          .name, .year, .rating
            @include mixins.ellipsis

          .year, .name
            color: vars.$whiteTextColor
            font-size: 15px
            line-height: 22px
            font-weight: 500

          .name
            margin-block: 4px

          .rating
            font-size: 13px
            line-height: 16px
            font-weight: 500
            color: vars.$secondaryColor
  .show__btn
    cursor: pointer
    color: vars.$secondaryColor
    margin-top: 20px
    font-size: 15px
    line-height: 22px
    font-weight: 400

@media (max-width: 880px)
  .content
    max-width: 100%
    margin: 30px 0 0

@media (max-width: 600px)
  .content
    .title
      display: flex
      flex-direction: column

      span
        margin: 5px 0 0

    .movies
      .movie__poster
        flex-direction: column
        justify-items: flex-start
        align-items: flex-start
        gap: 10px

        .btn
          width: 100%
