@use '/src/styles/vars'
@use '/src/styles/mixins'

.list
  position: absolute
  background: #312b45
  padding-block: 12px
  border-radius: 4px
  z-index: 1
  top: 60px
  width: 100%
  max-height: 380px
  overflow: auto

  &__item
    display: grid
    grid-template-columns: 30px 1fr
    gap: 15px
    cursor: pointer
    padding: 12px 16px 12px 20px
    align-items: center

    &:hover, &_active
      background: rgba(255, 255, 255, .1)

    &_active
      border-left: 4px solid vars.$accent
      padding-left: 16px

  &__image
    width: 30px
    aspect-ratio: 2/3
    position: relative
    border-radius: 4px
    overflow: hidden

  &__name
    @include mixins.ellipsis

  &__text
    display: flex
    justify-content: center
