@use 'src/styles/vars'

.dropdown
  &__container
    display: flex
    justify-content: space-between
    position: absolute
    width: calc(100% + 24px)
    z-index: 9
    margin-left: -12px
    background: #1F1B2E
    border-radius: 0 0 15px 15px
    border-top: 1px solid rgba(255, 255, 255, .16)
    padding: 20px 0 20px 20px
    box-shadow: 0 20px 96px #12101b

  &__notification
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0 auto
    gap: 20px

    &_icon
      width: 56px
      height: 56px
      color: vars.$primaryColor

    &_text
      font-size: 15px
      color: vars.$primaryColor