.section
  padding: 24px 0

.nav
  &__list
    display: flex
  &__item
    margin-right: 42px

.tab
  cursor: pointer

.title
  opacity: 0.7
  transition: .3s
  &:hover
    opacity: 1
  &_active
    opacity: 1
