.list
  &__container
    display: flex
  &__title
    color: #fff
    font-size: 15px
    font-weight: 700
  .links__container
    .list__item
      font-size: 15px
      line-height: 20px
      font-weight: 400
