.list
  &__container
    width: 500px

  &__title
    color: #fff
    font-size: 15px
    font-weight: 700

.links__container
  display: flex
  gap: 10px
  flex-direction: column
  flex-wrap: wrap

  .list__item
    display: flex
    font-size: 15px
    line-height: 20px
    font-weight: 400

.links__container__row
  display: flex
  width: 500px
  flex-direction: row
  flex-wrap: wrap
  .list__item
    flex-basis: 40%
