@use "/src/styles/vars"

.creators
  &__list
    display: flex
    flex-wrap: wrap
    gap: 24px

    .movies_count
      color: vars.$secondaryColor
      font-size: 13px
      line-height: 16px
      font-weight: 400

  &__item
    user-select: none

    &:hover
      .creators__name
        color: #ffffff

  &__image
    width: 128px
    height: 128px
    border-radius: 50%
    overflow: hidden

  &__name
    color: #d9d7e0
    font-size: 15px
    line-height: 20px
    font-weight: 500
    transition: .3s

.button
   width: 100%
   margin-top: 30px

@media (max-width: 1160px)
  .creators
    &__image
      width: 100%
      height: auto
      img
        width: 100%
        height: auto

@media (max-width: 880px)
  .creators__list
    display: grid
    grid-template-columns: repeat(4,1fr)

@media (max-width: 530px)
  .creators__list
    display: flex
