@use "src/styles/vars"

.rating
  margin-top: 24px
  &__button
    background: rgba(255,255,255,.08)
    cursor: pointer
    width: 100%
    padding: 10px
    border-radius: 12px
    display: flex
    align-items: center

  &__grade
    width: 64px
    height: 64px
    border-radius: 8px
    display: flex
    align-items: center
    justify-content: center
    color: vars.$whiteTextColor
    background-color: #7e798f
    font-size: 24px
    font-weight: 700
    &_fine
      background-color: #73a32f

  &__column
    margin-left: 16px

  &__title
    font-weight: 500
    color: vars.$whiteTextColor
    text-align: start
    font-size: 15px

  &__category, &__grades
    margin-top: 4px
    text-align: start
    color: #ffffffb8
    font-size: 15px

  &__badge
    margin-right: 10px
    margin-left: auto
    padding: 3px 7px
    border: 1px solid rgba(255,255,255,.32)
    border-radius: 6px
    color: vars.$whiteTextColor
    font-size: 13px
    font-weight: 500
    transition: .3s

    &:hover
      border: 1px solid vars.$whiteTextColor

@media (max-width: 1160px)
  .rating
    margin-bottom: 20px

    &__grade
      height: 48px
      min-width: 48px
      max-width: 48px
      font-size: 20px

    &__grades
      display: none

@media (max-width: 600px)
  .rating
    &__badge
      margin-right: 0
