.button
  margin-top: 15px
  font-size: 15px
  line-height: 20px
  color: white
  width: 100%
  height: 40px
  border: 1px solid rgba(255,255,255,.32)
  border-radius: 8px
  padding: 9px 15px
  transition: .4s
  cursor: pointer

  &:hover
    border-color: rgba(255,255,255,.72)
