@use "src/styles/vars"

.button
  background-color: #4b80c0
  cursor: pointer
  color: vars.$whiteTextColor
  font-size: 14px
  text-align: center
  width: 20px
  height: 140px
  position: fixed
  left: 0
  top: 30vh
  z-index: 10
  writing-mode: vertical-lr
  -webkit-writing-mode: vertical-lr