@use 'src/styles/vars'

.tv
  &__links
    &_title
      font-size: 15px
      font-weight: 700
      color: vars.$whiteTextColor

    &_list
      font-size: 15px
      color: vars.$primaryColor

    .list__item
      margin-top: 8px

      a
        transition: all .4s

      a:hover
        color: vars.$whiteTextColor