
.section
    padding-top: 24px

    &__title
        font-size: 24px
        color: #fff
        display: flex
        align-items: center

    &__img
        margin-right: 8px

.slider
    overflow: visible

.row
    margin: 0 -20px
    padding: 24px 20px
    overflow: hidden

.swiper
    overflow: visible
    display: flex
    align-items: center
