
.section
    padding-top: 24px

    &__title
        font-size: 24px
        color: #fff
        display: flex
        align-items: center

    &__img
        margin-right: 8px

.slider
    overflow: visible

.swiper
    padding: 20px
