@use '/src/styles/vars'

.list
  position: absolute
  bottom: -12px
  padding-block: 8px
  background: #1f1b2e
  transform: translate(0, 100%)
  border-radius: 8px
  width: 196px

  & a
    color: vars.$textcolor 

  &__phone
    cursor: pointer
    display: grid
    padding: 8px 16px
    font-size: 15px
    line-height: 20px

    &:hover
      background: #27223a
      transition-duration: 80ms

  &__number
    color: vars.$whiteTextColor
    font-weight: 500
