@use "src/styles/vars"
@use "src/styles/mixins"

.section
  padding-top: 25px
  display: flex
  justify-content: space-between
  overflow: hidden

.list
  display: flex
  align-items: center

  &__item
    display: flex
    align-items: center
    max-width: 300px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  &__item:not(:first-child)::before
    content: ''
    display: block
    width: 2px
    height: 2px
    margin: 1px 7px 0
    background-color: rgba(255,255,255,.56)

  &__link
    font-weight: 500
    transition: .2s

  &__link:hover
    color: vars.$whiteTextColor

  &__current
    @include mixins.ellipsis

.list_slash
  .list
    &__item
      color: #ffffff8f
      font-size: 13px

    &__item:not(:first-child)::before
      content: '/'
      margin: 0 4px 0 3px
      background: none
      height: auto
      width: auto
      color: #ffffff8f
      font-size: 13px

    &__link
      color: vars.$whiteTextColor
      font-size: 13px
      position: relative
      box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f

    &__link:hover
      box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f

.back
  display: none
  &__link
    padding: 0 16px

    &::after
      content: '\E008'
      font-family: var(--ivi-icons)
      font-weight: 400
      font-size: 20px
      line-height: 20px
      color: vars.$whiteTextColor

@media (max-width: 600px)
  .section_mobile
    .back
      display: block

    .nav
      display: none

  .list
    &__item
      max-width: 70%
