@use "src/styles/vars"

.title
  font-size: 56px
  line-height: 56px
  font-weight: 700
  font-style: normal
  color: vars.$whiteTextColor
  text-align: center
  margin-top: 8px
  margin-bottom: 20px
  padding: 0 12px

@media (max-width: 1160px)
  .title
    text-align: start
    padding: 0
    margin: 0
    margin-bottom: 20px

@media (max-width: 880px)
  .title
    text-align: center
    font-size: 42px

@media (max-width: 600px)

  .title
    font-size: 32px
    line-height: 36px
