.section
  height: 74vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.title
  margin-bottom: 16px
  text-align: center

.link
  box-shadow: 0 1px 0 rgb(255 255 255 / 16%), inset 0 0 0 rgb(255 255 255 / 16%)
  color: #fff
  transition: .3s
  text-align: center
  &:hover
    box-shadow: 0 1px 0 #ffffff, inset 0 0 0 #ffffff
