@use '/src/styles/vars'

.copyright
  margin-block: 32px 48px
  font-size: 15px
  line-height: 20px
  color: vars.$primaryColor

@media (0 < width < 1159px)
  .copyright
    font-size: 13px
    line-height: 16px
    color: #312b45
