@use "src/styles/vars"

.tv
  &__left_content
    display: flex
    width: 220px
    flex-direction: column
    justify-content: space-between
    border-right: 1px solid rgba(255, 255, 255, .16)
    padding-right: 10px

    .tv
      &__links
        &__title
          font-size: 15px
          font-weight: 700
          color: vars.$whiteTextColor

        &_button
          width: 100%
          background: #312B45
          transition: 0.3s

          &:hover
            background: #3d3656

.channels
  &__container
    position: relative
    max-width: 690px
    width: 50%

  &__slider
    &_row
      padding-block: 24px

    &_title
      font-size: 15px
      font-weight: 700
      margin-bottom: 12px
      color: vars.$whiteTextColor