@use 'vars'
	
@use 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@use 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@use 'swiper/css'
@use 'swiper/css/navigation'

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('iviSans', normal, 400, '../assets/fonts/iviSans-Regular.woff2')
@include font('iviSans', normal, 500, '../assets/fonts/iviSans-Medium.woff2')
@include font('iviSans', normal, 700, '../assets/fonts/iviSans-Bold.woff2')


// GENERAL CSS SETTINGS
::placeholder
	color: #666

::selection
	background-color: vars.$accent
	color: #fff
