// USER VARIABLES SECTION
$accent: #ea003d // Accent Color
$fontsize: 15px // Body Font Size
$titlecolor: #ffffff
$textcolor: #ffffffb8
$lineheight: 1.65 // Document Line Height
$userfont: iviSans // User Font Family
$systemfont: Arial,Helvetica,Helvetica Neue,FreeSans,sans-serif // System Font Family
$background: #100e19
$primaryColor: rgba(255,255,255,.48)
