// USER VARIABLES SECTION
$accent: #ea003d // Accent Color
$fontsize: 15px // Body Font Size
$titlecolor: #ffffff
$textcolor: #ffffffb8
$lineheight: 1.65 // Document Line Height
$userfont: iviSans // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$background: #100e19
$primaryColor: rgba(255,255,255,.48)

@keyframes modalInit
  from
    opacity: 0
  to
    opacity: 1

@mixin modalInitAnimation
  animation: modalInit .3s 1
