@use 'sass:math'
@use 'sass:color'
@use 'vars'
@use 'config'

body
  font-family: vars.$userfont
  font-size: vars.$fontsize
  line-height: vars.$lineheight
  color: vars.$textcolor
  min-width: 320px
  position: relative
  overflow-x: hidden
  background-color: #100e19

ul
  list-style: none

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

.container
  padding: 0 32px
  max-width: 1240px
  margin: 0 auto

.banner-slider
  .swiper, .swiper-container, .swiper-wrapper 
    overflow: visible
        

  .swiper-button-next
    right: -75px

  .swiper-button-prev
    left: -75px


  .swiper-button-prev, .swiper-button-next
    color: #fff
    opacity: .72
    transition: .3s
    &:hover
      opacity: 1
    &::after
      font-size: 30px
