.button
  opacity: 0.8
  height: auto
  padding: 5px 15px
  width: 320px

  &:hover
    opacity: 1

  &__title
    font-size: 15px
    line-height: 20px
    font-weight: 500
    color: vars.$whiteTextColor

  &__subtitle
    font-size: 13px
    line-height: 16px
    font-weight: 500
    color: #ffffffb8

@media (max-width: 600px)
  .button
    width: 272px
