.container
  position: relative
  display: flex
  height: 100%
  align-items: center

  .switch
    position: absolute
    right: 490px

@media (max-width: 1160px)
  .container
    .switch
      right: 360px

@media (max-width: 600px)
  .container
    .switch
      right: 110px
