.profile
  &__dropdown_container
    display: flex
  &__main
    display: flex
    flex-wrap: wrap
    width: 830px
    gap: 24px
    &_card
      width: 179px
      height: 108px
      padding: 20px
      background: #312B45
      border-radius: 8px
      .card__text
        font-size: 15px
        font-weight: 500
        color: #fff
      .card__icon
        width: 20px
        height: 20px
  &__side
    &_links