@use '/src/styles/vars'

.option
  padding: 12px 16px 12px 20px
  cursor: pointer
  color: vars.$whiteTextColor

  &:hover, &_active
    background: #312b45

  &_active
    padding-left: 16px
    border-left: 4px solid vars.$accent
