.widget
  display: grid
  justify-content: center
  justify-items: center
  width: 244px
  background-color: #312b45
  border-radius: 8px
  overflow: hidden
  position: relative

  &__slideshow
    margin-block: 16px
    transform: translateY(-64px)
    width: 244px
