@use 'src/styles/vars'

.list
  &__container
    width: 350px

  &__title
    color: vars.$whiteTextColor
    font-size: 15px
    font-weight: 700
    line-height: 16px
    margin-bottom: 8px

.links__container
  display: flex
  max-height: 340px
  gap: 8px
  flex-direction: column
  flex-wrap: wrap

  .list__item
    display: flex
    font-size: 15px
    white-space: nowrap
    color: vars.$primaryColor
    line-height: 20px
    font-weight: 400
    cursor: pointer
    transition-duration: .4s

    &:hover
      color: vars.$whiteTextColor