.actions
  &__container
    display: flex
    align-items: center
    gap: 20px
  &__button
    cursor: pointer
    height: 32px
    border-width: 1px
    border-radius: 8px
    padding: 7px 11px
    font-size: 13px
    line-height: 16px
    font-weight: 500
    font-style: normal
    color: #fff
    background-color: #ea003d
    background-image: linear-gradient(270deg,#ea003d 0,#c447ff 100%)
  &__search
    display: flex
    gap: 5px
    cursor: pointer
    .search
      &__icon
        width: 24px
        height: 24px
      &__text
  &__notifications
    cursor: pointer
    svg
      width: 24px
      height: 24px
  &__profile
    cursor: pointer
    height: 48px
    border-radius: 8px
    border: 2px solid rgba(255,255,255,.48)
    padding: 12px
    svg
      width: 20px
      height: 20px