.item
    display: flex
    justify-content: space-between
    font-size: 13px
    line-height: 16px
    font-weight: 500
    color: rgba(217,215,224,.8)
    transition: .4s
    cursor: pointer

    &:hover, &_active
      color: white

    &:hover &__checkbox:not(&__checkbox_active)
      opacity: .32

    &__checkbox
      display: flex
      align-items: center
      justify-content: center
      width: 16px
      height: 16px
      border: 2px solid white
      border-radius: 50%
      opacity: 0
      transition: .4s

      & > div
        width: 4px
        height: 4px
        background: white
        border-radius: 50%
        opacity: 0

      &_active
        opacity: 1
        color: white

        & > div
          opacity: 1
