.option
  &__values
    color: #fff
    margin-top: 4px

@media (max-width: 1160px)
  .option
    display: flex
    align-items: center
    padding: 12px 0

    &__values
      margin-top: 0
      margin-right: 0
      margin-left: auto
