@use "src/styles/vars"

.nav
  display: flex
  height: 100%
  margin-left: 20px

  &__list
    display: flex
    height: 100%
    gap: 16px

  &__item
    display: flex
    align-items: center
    cursor: pointer
    transition-duration: .4s

    &:hover
      color: vars.$whiteTextColor
