@use "src/styles/vars"

.container
  width: 80%

  .chat__error
    display: flex
    margin-top: 30px
    gap: 10px
    width: 100%
    background-color: #ff542e
    padding: 12px 12px 12px
    border-radius: 4px

    .error
      &__title
        color: vars.$whiteTextColor
        font-size: 16px
        line-height: 20px
        font-weight: 700

      &__text
        color: #ffbaab
        font-size: 13px
        line-height: 16px
        font-weight: 400

      &__icon
        svg
          width: 32px
          height: 32px

@media (max-width: 600px)
  .container
    width: 100%


