@use "src/styles/vars"

.option
  margin-top: 16px
  line-height: 22px
  &:first-child
    margin-top: 0
  &__values
    color: vars.$whiteTextColor
    margin-top: 4px
    display: flex
    flex-wrap: wrap

@media (max-width: 1160px)
  .option
    display: flex
    align-items: center
    padding: 12px 0
    line-height: 20px
    margin-top: 0
    border-bottom: 1px solid #ffffff29
    &:last-child
      border-bottom: 0

    &__values
      margin-top: 0
      margin-right: 0
      margin-left: auto
      height: 20px
      overflow: hidden
      justify-content: flex-end
