@use "src/styles/vars"

.selector
  display: grid
  gap: 4px
  position: relative

  &__input
    display: flex
    align-items: center
    width: 100%
    background-color: #312b45
    height: 56px
    border-radius: 4px
    padding: 8px 16px
    font-weight: 500
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: vars.$whiteTextColor

    &::placeholder
      color: rgba(255, 255, 255, .6)
      
.dropdown
  &-enter
    opacity: 0
    transform-origin: top
    transform: scaleY(0)
    visibility: hidden

    &-active
      opacity: 1
      transform: scaleY(1)
      visibility: visible
      transition: .3s linear

  &-exit
    opacity: 1
    transform-origin: top
    transform: scaleY(1)
    pointer-events: none
    visibility: visible

    &-active
      opacity: 0
      transform: scaleY(0)
      visibility: hidden
      transition: .3s linear
