@use "/src/styles/vars"

.privacy_policy
  margin-top: 25px
  font-size: 13px
  color: vars.$secondaryColor

  &__link
    box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f
    color: vars.$whiteTextColor
    transition-duration: .4s

    &:visited
      color: vars.$whiteTextColor

    &:hover
      background-color: #7e798f