@mixin leftFade
  background-image: linear-gradient(270deg, rgba(49, 43, 69, 0), rgba(49, 43, 69, .96))

@mixin rightFade
  background-image: linear-gradient(90deg, rgba(49, 43, 69, 0), rgba(49, 43, 69, .96))

@mixin leftFadeAlt
  background-image: linear-gradient(270deg, rgba(31, 27, 46, 0) 0, #1f1b2e 100%)

@mixin rightFadeAlt
  background-image: linear-gradient(90deg, rgba(31, 27, 46, 0) 0, #1f1b2e 100%)

.wrapper
  position: relative
  height: fit-content
  opacity: .2
  transition: .5s
  &_active
    opacity: 1

  .slideshow
    display: flex
    flex-direction: column
    justify-content: center
    overflow: hidden

  .fade
    height: 100%
    pointer-events: none
    position: absolute
    width: 30%
    top: 0

    &__left
      left: -2px

      &_default
        @include leftFade

      &_alt
        @include leftFadeAlt

    &__right
      right: -2px

      &_default
        @include rightFade

      &_alt
        @include rightFadeAlt
