@use 'src/styles/vars'
@mixin dropDownActive
  transition: .3s

.header
  position: relative
  &__content
    display: flex
    padding: 0 12px
    align-items: center
    justify-content: space-between
    color: vars.$primaryColor
    background: vars.$background
    width: 100%
    height: 72px
    font-size: 15px
    line-height: 20px
    font-weight: 500
    font-style: normal
    transition: .3s
    &_active
      background: #1F1B2E
  &__logo
    cursor: pointer
  &__navigation
    display: flex
    align-items: center
    height: 100%
    &_layout
      height: 100%
      display: flex
      align-items: center
  &__dropdown
    position: relative
    z-index: 2
    &-enter
      opacity: 0
      &-active
        opacity: 1
        @include dropDownActive

    &-exit
      opacity: 1
      &-active
        opacity: 0
        @include dropDownActive



