@use "/src/styles/vars"
@use '/src/styles/mixins'

.link
    display: block

.content
    cursor: pointer

    &__link
        display: block

    &__link_validate
        display: block

    &__inner
        justify-content: center
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        display: none

    &__title
        white-space: nowrap
        @include mixins.ellipsis()
        transition: .3s

    &:hover
        .content__filter
            transform: scale(1.05) translateY(0)
            &::after
                background: rgba(7,5,14,.8)

        .content__inner
            display: flex

        .content__title
            color: vars.$whiteTextColor

    &__filter
        position: relative
        transform-origin: 50% 100%
        border-radius: 8px
        overflow: hidden
        transition: .2s
        display: flex
        justify-content: center
        align-items: center
        transform: scale(1.0001)
        aspect-ratio: 2/3

        &::after
            content: ''
            width: 110%
            height: 110%
            position: absolute
            z-index: 1
            transition: .2s

    &__bottom
        margin-top: 8px

    &__title
        color: #d9d7e0

    &__type
        font-size: 13px

        &_subscription
            color: #ea003d

        &_purchase
            color: #00a5ff

.information
    position: absolute
    width: 80%
    bottom: 20px
    z-index: 2
    &__row
        display: flex
        align-items: center

    &__text
        font-size: 13px
        margin-top: 4px
        color: #d9d7e0
        line-height: 16px
        z-index: 1

.age
    width: 24px
    height: 16px
    position: absolute
    right: 4px
    bottom: 4px
    z-index: 1
    &__img
        object-fit: cover

.grade
    margin-right: 8px
    &__number
        font-size: 20px
        line-height: 24px
        height: 24px
        color: vars.$whiteTextColor
        &_int
            font-size: 24px

.rating
    width: 20px
    &__bar
        margin-bottom: 2px
        &:last-child
            margin-bottom: 0

.chart
    margin-bottom: 12px
    &__name
        font-size: 13px
        color: vars.$secondaryColor
        text-transform: lowercase
        margin-bottom: 4px

    .chart__bar
        width: 100%
        height: 4px
        background-color: rgba(165,161,178,.32)
        border-radius: 2px
        overflow: hidden

.content_related
    &:hover
        .content__filter
            transform: scale(1.0001)

    .button
        display: flex
        position: absolute
        top: 20px
        right: 10%
        z-index: 4
        height: 20px
        align-items: center
        justify-content: center
        background: none
        cursor: pointer

    .icon
        display: block
        height: 20px
        &::after
            font-family: var(--ivi-icons)
            font-style: normal
            font-size: 18px
            color: #fff
            line-height: 20px

        &::after
            content: '\E02D'
