@use "src/styles/vars"

.section
  .container
    padding-inline: 32px
    max-width: 1280px
    width: 100%
    margin: 0 auto
    .content
      max-width: 620px
      width: 100%
      margin-inline: auto
      .img
        width: 120px
        height: 120px
        overflow: hidden
        border-radius: 16px
      .title
        color: vars.$whiteTextColor
        font-size: 56px
        line-height: 56px
        font-style: normal
        font-weight: 700
