@mixin shadowMixin
  position: absolute
  width: 60px
  height: 100%
  z-index: 1
  pointer-events: none

.channels
  &__item
    width: 100px
    height: 50px
    background: #834CC2

  &__slider
    display: flex
    align-items: center

    .link
      display: flex

    &_item
      border-radius: 8px

.button
  &_prev, &_next
    i
      &:after
        font-size: 18px
  &_next
    margin-right: 0

.slider
  &__shadow
    &_left
      @include shadowMixin
      left: 0
      background-image: linear-gradient(270deg, rgba(31, 27, 46, 0), #1f1b2e)

    &_right
      @include shadowMixin
      right: -20px
      background-image: linear-gradient(90deg, rgba(31, 27, 46, 0) 0, #1f1b2e 100%)