@use "src/styles/vars"

.rating
    display: flex
    align-items: center

    &__bars
        width: 20px

    &__bar
        margin-bottom: 2px
        &:last-child
            margin-bottom: 0

.grade
    margin-right: 8px
    &__number
        font-size: 20px
        line-height: 24px
        height: 24px
        color: vars.$whiteTextColor
        &_int
            font-size: 24px
