@use "src/styles/vars"

.wrapper
    padding: 24px 0

.swiper
    margin: 0 -20px
    padding: 20px

.icon::after
    content: "\E046"
    display: inline-block
    font-family: var(--iconfont)
    font-weight: 400
    font-style: normal
    font-size: 16px
    line-height: 16px
    margin-left: 8px

.prev, .next
    height: 80%
    top: 20px

@media (max-width: 600px)
    .title
        display: block
