.section
    position: relative
    overflow: hidden

.swiper
    display: flex
    align-items: center
    overflow: visible

@media (min-width: 1350px)
    button.swiper__next
        right: -60px

    button.swiper__prev
        left: -60px
