.btn
  display: flex
  align-items: center
  gap: 8px
  font-weight: 500

  &__icon
    display: flex
    min-width: 20px
  
  &__text
    display: grid
    justify-items: flex-start

  &__top
    font-size: 10px
    line-height: 12px
    height: 12px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: rgba(255,255,255,.72)

  &__bottom
    font-size: 15px
    line-height: 20px
