.btn
  display: flex
  align-items: center
  justify-content: center
  cursor: inherit
  position: absolute
  top: 0
  right: 0
  width: 40px
  height: 40px
  background: transparent
  color: rgba(31,27,46,.16)
  transition: .3s

  &_hover
    color: rgba(31,27,46,.4)

  &_active
    cursor: pointer
    color: rgba(31,27,46,.64)

    &:hover
      color: #1f1b2e
