.filter
  width: 100%
  position: relative

  &__title
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    cursor: pointer
    background-color: #312b45
    height: 56px
    border-radius: 4px
    padding: 8px 16px
    font-weight: 500
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: white

    &_active
      background-color: #7e798f

  &__arrow
    font-family: iconfont
    font-size: 6px
    line-height: 6px

    &_active
      transform: rotate(180deg)

    &::before
      content: "\E033"

  &__dropdown
    position: absolute
    margin-top: 4px
    opacity: 0
    visibility: hidden
    background-color: #312b45
    border-radius: 4px
    box-shadow: 0 16px 32px rgba(7,5,14,.4)
    z-index: 1
    padding: 16px
    width: 630px

    &_active
      opacity: 1
      visibility: visible

  &__items
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-column-gap: 40px
    margin-top: 16px
    padding-top: 4px
    border-top: 1px solid rgba(255,255,255,.32)

  &__slider
    & .swiper
      padding-top: 0

  &__prev, &__next
