@use "src/styles/vars"

.trailer
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(7,5,14,.4)
    z-index: 2
  &__img
    display: block
    height: auto
    width: 100%
    object-fit: cover
    aspect-ratio: 858/483

  &__over
    position: absolute
    width: 100%
    height: 100%
    z-index: 3
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0

  &__player
    position: absolute
    top: 16px
    right: 16px
    color: rgba(255,255,255,.88)
    display: flex
    align-items: center
    cursor: pointer
    font-size: 13px
    transition: .3s
    &:hover
      color: vars.$whiteTextColor

  &__icon::after
    content: '\E033'
    font-family: ivi-icons
    font-weight: 400
    font-style: normal
    font-size: 16px
    margin-right: 10px

  &__center
    position: absolute

  &__text
    color: vars.$whiteTextColor
    font-size: 13px
    margin-top: 8px
    text-align: center

  &__age
    width: 24px
    height: 16px
    background-image: url('/images/age16.svg')
    position: absolute
    bottom: 16px
    left: 16px

  &__button
    background-color: vars.$accent
    width: 88px
    height: 88px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    cursor: pointer

    &::after
      content: "\E2CF"
      font-family: iconfont
      font-size: 40px
      color: vars.$whiteTextColor

.button
  opacity: 0.8
  height: auto
  padding: 5px 15px
  width: 320px

  &:hover
    opacity: 1

  &__title
    font-size: 15px
    line-height: 20px
    font-weight: 500
    color: vars.$whiteTextColor

  &__subtitle
    font-size: 13px
    line-height: 16px
    font-weight: 500
    color: #ffffffb8

@media (max-width: 1160px)
  .trailer
    margin-bottom: 32px

@media (max-width: 880px)
  .trailer
    margin: 0 -24px

@media (max-width: 600px)
  .button
    width: 272px
