.nav
  display: flex
  margin-left: 20px
  &__list
    display: flex
    gap: 16px
  &__item
    cursor: pointer
    -webkit-transition-duration: .4s
    -o-transition-duration: .4s
    transition-duration: .4s
    &:hover
      color: #fff
