@use "src/styles/vars"

.params
  margin-bottom: 24px

.list
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 4px
  padding: 0 12px
  flex-wrap: wrap

  &:last-child
    margin-bottom: 0

  &__item
    display: flex
    align-items: center

  &__item::before
    content: ''
    display: block
    width: 8px

  &__item_dot:not(:first-child)::before
    content: ''
    display: block
    width: 2px
    height: 2px
    margin: 1px 7px 0
    background-color: rgba(255,255,255,.56)

  &__link
    text-transform: capitalize
    transition: .3s

  &__link:hover
    color: vars.$whiteTextColor

.icon
  margin-right: 4px
  display: flex
  align-items: center

.icon::after
  font-family: var(--iconfont)
  font-weight: 400
  font-style: normal

.icon_sound::after
  content: "\E2E6"

.icon_label::after
  content: "\E2DF"

@media (max-width: 1160px)
  .list
    justify-content: flex-start
    padding: 0

    &__item
      line-height: 20px

@media (max-width: 880px)
  .list
    justify-content: center
