.filters
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: 12px
  row-gap: 20px
  width: 100%
  background-color: #1f1b2e
  padding: 16px
  border-radius: 6px
  position: relative

  &__person
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    gap: 10px

@media screen and (max-width: 960px)
  .filters
    grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 550px)
  .filters
    grid-template-columns: 1fr
  
    &__person
      grid-template-columns: 1fr
