@use "src/styles/vars"

.ask
  display: grid

  &__text
    font-size: 15px
    line-height: 20px

  &__link
    line-height: 16px
    text-decoration: none
    transition: .4s
    color: vars.$whiteTextColor

    &:hover
      color: rgba(255,255,255,.72)
