@use "/src/styles/vars"

.section
  position: relative
  padding: 24px 0
  overflow: hidden

  &__row
    display: flex
    justify-content: space-between

.button
  &_desktop
    font-size: 13px
    line-height: 16px
    font-weight: 500
    font-style: normal
    height: 32px
  &_mobile
    width: 100%
    font-size: 13px
    line-height: 16px
    font-weight: 500
    font-style: normal
    height: 32px
    display: none

.title
  font-size: 24px
  line-height: 28px
  font-weight: 700
  font-style: normal
  color: vars.$whiteTextColor
  position: relative
  box-shadow: 0 1px 0 rgb(255 255 255 / 16%), inset 0 0 0 rgb(255 255 255 / 16%)
  cursor: pointer
  transition: .3s
  margin-bottom: 24px

  &:hover
    box-shadow: 0 1px 0 vars.$whiteTextColor, inset 0 0 0 vars.$whiteTextColor

  &__counter
    font-size: 13px
    line-height: 16px
    font-style: normal
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    height: 16px
    color: vars.$secondaryColor
    position: absolute
    top: -5px
    left: 100%
    font-weight: 400

.swiper
  margin-bottom: 24px

@media (max-width: 600px)
  .button
    &_desktop
      display: none
    &_mobile
      display: block
