.buttons
  margin-top: 24px
  display: flex
  flex-wrap: wrap

.button
  margin-right: 16px
  margin-bottom: 16px

  &:last-child
    margin-right: 0
    margin-left: auto

  &__content
    display: flex
    align-items: center

  &__text
    margin-left: 6px

  &__icon
    display: flex
    align-items: center
    &::after
      font-family: iconfont
      font-weight: 400
      font-style: normal
      font-size: 16px

    &_play::after
      content: "\E28D"

    &_save::after
      content: "\E12F"

    &_download::after
      content: "\E356"

    &_film::after
      content: "\E07B"

@media (max-width: 1160px)
  .buttons
    justify-content: space-between
    margin: 0
  .button
    margin-right: 0
    margin-bottom: 12px
    width: calc(50% - 6px)

    &:nth-child(3n-2)
      width: 100%

    &_desctop
      display: none
