@use '/src/styles/vars'

.search
  @include vars.modalPosition
  display: unset
  background-color: vars.$modalBackground
  -webkit-font-smoothing: antialiased
  @include vars.modalInitAnimation

  &__title
    font-size: 40px
    line-height: 44px
    font-weight: 900
    margin-bottom: 40px
    color: vars.$whiteTextColor

  &__container
    display: grid
    padding-top: 60px
    margin-inline: auto
    max-width: 66%

@media screen and (max-width: 1160px)
  .search
    &__container
      max-width: 90%
