.content
  display: grid
  justify-content: center
  align-items: center
  justify-items: center
  width: 108px
  height: 88px
  padding: 16px 8px
  text-align: center
  border: 1px solid rgba(255,255,255,.32)
  border-radius: 6px
  cursor: pointer
  color: white

  &:hover, &_active
    background-color: #7e798f
    border-color: #7e798f

  &__icon
    width: 32px
    height: 32px
