.privacy_policy
  margin-top: 25px
  font-size: 13px
  color: #a5a1b2
  &__link
    box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f
    color: #fff
    transition-duration: .4s
    &:visited
      color: #fff
    &:hover
      background-color: #7e798f