.container
  width: 100%

  .comment
    display: flex
    justify-content: space-between
    margin-bottom: 20px

    .text
      font-size: 15px
      line-height: 22px
      color: rgba(255, 255, 255, .72)
