@use '/src/styles/vars'
.modal
  @include vars.modalPosition
  background-color: vars.$modalBackground
  @include vars.modalInitAnimation

.back
  display: flex
  font-size: 15px
  align-items: center
  gap: 20px
  align-self: flex-start
  margin-top: 32px
  line-height: 20px
  font-weight: 500
  cursor: pointer
  transition: .3s
  position: absolute
  left: 0
  top: 0
  margin-top: 32px
  padding: 16px
  z-index: 2

  &:before
    content: "\E040"
    font-size: 20px
    font-family: var(--iconfont)

  &:hover
    color: vars.$whiteTextColor

.row
  display: flex
  padding-top: 100px
  padding-bottom: 48px

.content
  width: 50%
  margin-left: 12.5%

.title
  margin-bottom: 20px
  font-size: 40px
  line-height: 44px
  font-weight: 900
  color: vars.$whiteTextColor

.tabs
  &__list
    display: flex
    gap: 24px
    border-bottom: 2px solid rgba(255, 255, 255, .2)

  &__item
    position: relative
    cursor: pointer
    color: vars.$whiteTextColor
    opacity: .72
    font-size: 15px
    line-height: 20px
    font-weight: 500
    transition: .3s
    padding: 10px 0

    &:hover
      opacity: 1

.active
  opacity: 1 !important

  &:before
    content: ""
    position: absolute
    bottom: -2px
    width: 100%
    border-bottom: 3px solid #ea003d

.card
  margin-left: 152px
  width: 128px

@media (max-width: 1160px)
  .content
    margin-left: 0
    width: 66.66666667%

  .card
    width: 16.66666667%
    margin-left: 16.66666667%

@media (max-width: 880px)
  .content
    width: 100%

  .card
    display: none

@media (max-width: 600px)
  .back
    margin-top: 0

  .row
    padding-top: 60px
