.widget
  margin-right: 20px
  display: grid

  .button
    display: flex
    gap: 20px
    width: 100%
    margin-top: 24px
    background-color: #312b45
    transition: .3s

    svg
      margin-right: 5px

    &:hover
      background: #3d3656
