@use '/src/styles/_vars.sass' as vars

@mixin flexDef
  display: flex
  align-items: center
  justify-content: center

.btn
  @include flexDef
  height: 40px
  cursor: pointer
  background: #1f1b2e
  border: 1px solid #1f1b2e
  border-radius: 8px
  color: white
  padding: 9px 15px
  font-size: vars.$fontsize
  line-height: 20px
  font-weight: 500

  &:focus-visible
    outline: 0

  &:hover, &:focus-visible
    background: #2e2844
    border-color: #2e2844

  &__content
    @include flexDef
    width: 100%

  &_icon
    width: 40px
    padding: 0

  &_purple
    height: 32px
    background: linear-gradient(270deg,#ea003d 0,#c447ff 100%)
    border: transparent
    padding: 7px 11px

    &:hover, &:focus-visible
      background: linear-gradient(270deg,#ea003d 0,#c447ff 100%)

  &_red
    background: vars.$accent
    border: vars.$accent
   
    &:hover, &:focus-visible
      background: #ff0f4d
      border-color: #ff0f4d
